<a href="https://colab.research.google.com/github/lorenzo1285/Analisis_Fianaciero/blob/main/Altman_zscore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  pip install yahoo-fin

In [ ]:
pip install FinRatioAnalysis

In [ ]:
pip install investpy

In [24]:
from FinRatioAnalysis import FinRatioAnalysis
import os
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as si
import investpy as ip

In [8]:
ticker = 'IBM'

In [9]:
ra = FinRatioAnalysis('IBM')

In [20]:
balance_sheet = ra.BalanceSheet.transpose()
balance_sheet

Breakdown   intangibleAssets     totalLiab  ...  accountsPayable  shortLongTermDebt
endDate                                     ...
2021-12-31      1.251100e+10  1.130050e+11  ...     3.955000e+09                NaN
2020-12-31      1.379600e+10  1.352450e+11  ...     4.908000e+09       6.956000e+09
2019-12-31      1.523500e+10  1.312010e+11  ...     4.896000e+09       7.470000e+09
2018-12-31      3.087000e+09  1.064520e+11  ...     6.558000e+09       7.048000e+09

[4 rows x 28 columns]

In [38]:
income_statement = ra.IncomeSatement.transpose()
income_statement

Breakdown  researchDevelopment  ... netIncomeApplicableToCommonShares
endDate                         ...
2021-12-31          6488000000  ...                        5743000000
2020-12-31          6333000000  ...                        5590000000
2019-12-31          5936000000  ...                        9431000000
2018-12-31          5379000000  ...                        8728000000

[4 rows x 22 columns]

In [26]:
search_result = ip.search_quotes(text='ibm', products=['stocks'],
                                       countries=['united states'], n_results=1)
print(search_result)

{"id_": 8082, "name": "International Business Machines", "symbol": "IBM", "country": "united states", "tag": "/equities/ibm", "pair_type": "stocks", "exchange": "NYSE"}

**X_1**

In [69]:
work_cap = np.subtract(balance_sheet.totalCurrentAssets, 
                       balance_sheet.totalCurrentLiabilities)
x_1 = np.divide(work_cap, balance_sheet.totalAssets)
X_1 = x_1.iloc[0,]
X_1

-0.03090885675108522

**X_2**

In [70]:
X_2 =  np.divide(balance_sheet.retainedEarnings, 
                 balance_sheet.totalAssets)
X_2 = X_2.iloc[0,]
X_2

1.1682411496882599

**X_3**

In [71]:
X_3 = np.divide(income_statement.ebit,
                balance_sheet.totalAssets)
X_3.sort_values(axis=0, ascending=True, inplace=True)
X_3 = X_3.iloc[0,]
X_3

0.04229513412777176

**X_4**

In [78]:
information = search_result.retrieve_information()
information = pd.DataFrame.from_dict(information, orient='index')
market_cap = information.loc['marketCap',]
market_cap = market_cap.astype(float)
market_cap

0    1.205700e+11
Name: marketCap, dtype: float64

In [79]:
 X_4 = np.divide(market_cap, balance_sheet.totalLiab.iloc[0,])
 X_4

0    1.066944
Name: marketCap, dtype: float64

#**X_5**

In [82]:
X_5 = np.divide(income_statement.totalRevenue, balance_sheet.totalAssets)
X_5.sort_values(axis=0, ascending=True, inplace=True)
X_5 = X_5.iloc[0,]
X_5

0.43446640555753363

# **Z_Score**

In [87]:
Z_score = 1.2*X_1 + 1.4*X_2 + 3.3*X_3 + .6*X_4 + .99*X_5
Z_score

0    2.808309
Name: marketCap, dtype: float64